@import url(https://fonts.googleapis.com/css?family=Open+Sans);
* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

} 

body {
    font-family: 'FontAwesome', sans-serif;
    /*
    background:url(../../../informacion/img/GlowingBackground.jpeg) no-repeat center top; */
    background-image: url(../../../../img/glowing.png);
    margin: 0;
    padding: 0;
    height: 100vh;

}

header {
    width: 100%;
    background:rgb(31, 0, 59);
    position: fixed;
    z-index: 1;
}

.menu {
    width: 95%;
    max-width: 1200px;
    margin: auto;
    padding: .5em 0;

    display: flex;
    justify-content: space-between;
    align-items: center;

}
/* Aqui se alinea la palabra docqui del header y se le cambia el tamaño */
.menu .container-menu .logo .logo-name a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 19px;
    margin-left: 9px;
    font-weight: normal;
}

.menu .container-menu .logo .logo-name{
    display: flex;
    align-items: center;
}

/* Aqui se cambia el tamaño del logo en el menu */
.menu .container-menu .logo .logo-name img {
    width: 50px;
}

/* Aqui se cambia el tamaño de las barritas del menu */
.menu .container-menu .logo .btn-menu {
    display: none;
    text-decoration: none;
    color: #fff;
    font-size: 30px;
}

/* Aqui van los enlaces */

.menu .menu-link ul {
    list-style: none;
}

.menu .menu-link ul li {
    display: inline-block;
}
/* Aqui estan las propiedades de los enlaces, tamaño y color */
.menu .menu-link ul li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    margin-left: 12px;
    font-size: 1.0em;
    /* aqui cambiamos la animacion del mouse en los enlaces*/
    border-bottom: 2px solid transparent;
    transition: .3s;
}

/* mause cuando pase arriba */

.menu .menu-link ul li a:hover {
    border-bottom: 2px solid rgb(4, 205, 255);
    color: rgb(0, 217, 255);
}
/* el banner empieza en el minuto 24
imagen de fondo aqui se cambian las propiedades
de la imagen */
.banner {
    position: relative;
    background: url(../img/background.png);
    width: 100%;
    max-width: 1200px;
    top: 52px;
    margin: auto;
    height: 570px;
    color: #fff;
}

.banner .bg-details {
        position: relative;
        width: 100%;
        height: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        -ms-flex-align: wrap;
        text-align: center;
}

.banner .bg-details .details h1 {
    font-size:  40px;
    font-weight: normal;
    margin-bottom: 20px;
}

.banner .bg-details .details a {
    display: inline-block;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 20px;
    border: 2px solid rgb(0, 217, 255);
    padding: 10px 25px;
    border-radius: 19px; 
}

/* aqui termina el baner e imagen */

/* Aqui esta el efecto del menu dezpegable */
@media screen and (max-width: 700px){
    .menu .container-menu .logo .btn-menu {
        display: block;
    }
/* Aqui la posicion de las barritas del menu */
    .menu .container-menu{
        width: 100%;
    }

/* Icono del menu despegable las barritas XD */
    .menu .container-menu .logo {
        display: flex;
        -ms-aling-items: center;
        align-items: center;
        justify-content: space-between;
    }

    /* Aqui esta el sombreado del menu y la posicion del menu 
    con sombreado negro en donde dice top lo cambiamos */
    .menu .menu-link{
        position: absolute;
        background: rgba(0, 0, 0,.7);
        height: 100vh;
        width: 100%;
        top: 74px;
        left: -100%;
        z-index: 1000;
        transition: .3s;
    }
    .menu .menu-link ul li {
        display: block;
    }
    .menu .menu-link ul li a {
        display: block;
        height: 50px;
        border-bottom: 2px solid #fff;
        padding: 15px;
        text-align: center;
        margin: 0;
    }
}

@media screen and (max-width: 500px){
    .menu .container-menu .logo .logo-name a{
        font-size: 19px;
        font-style: italic;
    }
    .banner .bg-details .details h1 {
        font-size: 30px;
    }

    .banner .bg-details .details a {
        font-size:  16px;
        padding: 8px 15px;
    }

}
/* REGISTRO */
/* Login aqui se cambia el tamaño deñ div negro */
.login-box{
    width: 270px;
    height: 420px;
    background: rgb(31, 0, 59);
    color: aqua;
    top: 60%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px;
    border-radius: 19px;
}

/* aqui se cambia la imagen del registro */
.login-box .avatar{
    /* aqui se cambia el tamaño de la imagen */
    width: 100px;
    height: 115px;
    /* aqui se convierte en circulo la imagen */
    border-radius: 30%;
    /* para que se ubique adelante */
    position: absolute;
    /* aqui se cambia la posicion de la imagen */
    top: -55px;
    /* aqui se calcula la posicion de la imagen */
    left: calc(50% - 50px);

}
 /* aqui se cambiam las palabras usuario y contraseña */
.login-box h1{
    margin: 0;
    padding: 0 0 25px;
    text-align: center;
    font-size: 17px;
}

.login-box label{
    margin: 0;
    padding: 0;
    font-weight: bold;
    display: block;
}

/* vienen los inputs */

.login-box input {
    width: 100%;
    margin-bottom: 20px;
}

.login-box input[type="text"],
.login-box input[type="password"]{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
 /* Aqui se cambia la separacion entre ususario y contraseña */
    height: 30px;
    color: rgb(255, 255, 255);
    font-size: 17px;
}

/* boton de enviar info */
.login-box input[type="submit"]{
    border: none;
    outline: none;
    height: 40px;
    background: aqua;
    /* Color del texto login */
    color: rgb(0, 73, 116);
    font-size: 15px;
    border-radius: 19px;
}

/* enlaces */

.login-box a {
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: rgb(116, 114, 114);
}

.login-box a:hover{
    color: #fff;

}

 

 

 
 

 