@import url(https://fonts.googleapis.com/css?family=Open+Sans);
* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

} 

body {
    font-family: 'FontAwesome', sans-serif;
    color: aqua;
      margin: 0;
      padding: 0;
    background-image: url(../../informacion/img/GlowingBackground.jpeg);
    /* aqui se cambia el color de las letras de la galeria*/
      
}

header {
    width: 100%;
    background: #1f003b;
    position: fixed;
    z-index: 1;
}

.menu {
    width: 95%;
    max-width: 1200px;
    margin: auto;
    padding: .5em 0;

    display: flex;
    justify-content: space-between;
    align-items: center;

}
/* Aqui se alinea la palabra docqui del header y se le cambia el tamaño */
.menu .container-menu .logo .logo-name a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 19px;
    margin-left: 9px;
    font-weight: normal;
}

.menu .container-menu .logo .logo-name{
    display: flex;
    align-items: center;
}

/* Aqui se cambia el tamaño del logo en el menu */
.menu .container-menu .logo .logo-name img {
    width: 50px;
}

/* Aqui se cambia el tamaño de las barritas del menu */
.menu .container-menu .logo .btn-menu {
    display: none;
    text-decoration: none;
    color: #fff;
    font-size: 30px;
}

/* Aqui van los enlaces */

.menu .menu-link ul {
    list-style: none;
}

.menu .menu-link ul li {
    display: inline-block;
}
/* Aqui estan las propiedades de los enlaces, tamaño y color */
.menu .menu-link ul li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    margin-left: 12px;
    font-size: 1.0em;
    /* aqui cambiamos la animacion del mouse en los enlaces*/
    border-bottom: 2px solid transparent;
    transition: .3s;
}

/* mause cuando pase arriba */

.menu .menu-link ul li a:hover {
    border-bottom: 2px solid rgb(4, 205, 255);
    color: rgb(0, 217, 255);
}
/* el banner empieza en el minuto 24
imagen de fondo aqui se cambian las propiedades
de la imagen */
.banner {
    position: relative;
    background: url(../img/background.png);
    width: 100%;
    max-width: 1200px;
    top: 52px;
    margin: auto;
    height: 570px;
    color: #fff;
}

.banner .bg-details {
        position: relative;
        width: 100%;
        height: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        -ms-flex-align: wrap;
        text-align: center;
}

.banner .bg-details .details h1 {
    font-size:  40px;
    font-weight: normal;
    margin-bottom: 20px;
}

.banner .bg-details .details a {
    display: inline-block;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 20px;
    border: 2px solid rgb(0, 217, 255);
    padding: 10px 25px;
    border-radius: 19px; 
}

/* aqui termina el baner e imagen */

/* Aqui esta el efecto del menu dezpegable */
@media screen and (max-width: 700px){
    .menu .container-menu .logo .btn-menu {
        display: block;
    }
/* Aqui la posicion de las barritas del menu */
    .menu .container-menu{
        width: 100%;
    }

/* Icono del menu despegable las barritas XD */
    .menu .container-menu .logo {
        display: flex;
        -ms-aling-items: center;
        align-items: center;
        justify-content: space-between;
    }

    /* Aqui esta el sombreado del menu y la posicion del menu 
    con sombreado negro en donde dice top lo cambiamos */
    .menu .menu-link{
        position: absolute;
        background: rgba(0, 0, 0,.7);
        height: 100vh;
        width: 100%;
        top: 74px;
        left: -100%;
        z-index: 1000;
        transition: .3s;
    }
    .menu .menu-link ul li {
        display: block;
    }
    .menu .menu-link ul li a {
        display: block;
        height: 50px;
        border-bottom: 2px solid #fff;
        padding: 15px;
        text-align: center;
        margin: 0;
    }
}

@media screen and (max-width: 500px){
    .menu .container-menu .logo .logo-name a{
        font-size: 19px;
        font-style: italic;
    }
    .banner .bg-details .details h1 {
        font-size: 30px;
    }

    .banner .bg-details .details a {
        font-size:  16px;
        padding: 8px 15px;
    }

}

/* qui estan las letras animadas */
.container{
    text-align: center;
    position: absolute;
    /* aqui cambio la posicion de las letras*/
    top: 11%;
    left: 50%;
    transform:  translate(-50%,50%);
  }
  
  .container span{
    
    text-transform: uppercase;
    display: block;
  }
  .text1{
    /* aqui cambiamos el color del texto principal */
    font-size: 170%;
    color: rgb(255, 255, 255);
    font-weight: 700;
    letter-spacing: 3px;
    margin-bottom: 10px;
    background: #180532;
    position: relative;
    animation: text 2s 1;
  }
  
  .text2{
    font-size: 17px;
    color: #ffffff;
  }
  /* animacion */
  @keyframes text{
    0%{
      color: rgb(255, 255, 255);
      margin-bottom: -30px;
    }
    /* aqui cambiamos la posicion del segundo texto con el -30* de arriba y abajo*/
    30%{
      letter-spacing: 14px;
      margin-bottom: -30px;
    }
    85%{
      letter-spacing: 5px;
      margin-bottom: -20px;
    }
  }

/* galeria */

.swiper-container {
    width: 100%;
    padding-top: 210px;
    padding-bottom: 50px;
    /* z-index es el nivel de apilamiento de los objetos*/
    z-index: initial;
    
  }
  .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 200px;
    /* aqui cambiamos el tamaño de la tarjeta donde va el texto*/
    height: 310px;
    background: #180532;
    z-index: initial;
    /* 9 de septiembre le cambie el radio para hacer las tarjetas mas redondeadas*/
    border-radius: 19px;
  }
.swiper-slide .imgBx {
    width: 100%;
    /* aqui cambiamos la posicion del texto de la imagen*/
    height: 220px;
    overflow: hidden;
    z-index: initial;
    /* 9 de septiembre le cambie el radio para hacer las tarjetas mas redondeadas*/
    border-radius: 19px;
}
.swiper-slide .imgBx img{
    width: 100%;
    z-index: initial;

}
.swiper-slide .details{
    box-sizing: border-box;
    font-size: 20px;
    padding: 10px;
    z-index: initial;
}
.swiper-slide .details h3{
    margin: 0;
    padding: 0;
    /* aqui cambiamos el tamaño de las primeras letras */
    font-size: 20px;
    text-align: center;
    line-height: 20px;
    z-index: initial;
}
.swiper-slide .details h3 span{
    /* aqui cambiamos el tamaño del subtitulo de las letras*/
    font-size: 19px;
    color: #ffffff;
    z-index: initial;
}
 
 

 